body{
font-family:'Open Sans',sans-serif;
background-color:#fbe1d9;
margin:0;
padding:20px;
max-width:900px;
margin-left:auto;
margin-right:auto;
color:#333;
}

h1,h2{
text-align:center;
color:#8b2e3d;
}

/* menu categorias */

.menu-categorias{
display:flex;
justify-content:center;
gap:15px;
margin-bottom:30px;
flex-wrap:wrap;
}

.menu-categorias a{
background:#8b2e3d;
color:white;
padding:8px 15px;
text-decoration:none;
border-radius:20px;
font-size:14px;
}

.menu-categorias a:hover{
background:#6e2330;
}

/* categorias */

.categoria{
margin-bottom:40px;
}

.bolos-lista{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
}

/* card */

.bolo-card{
background:white;
border-radius:8px;
box-shadow:0 2px 6px rgba(0,0,0,0.15);
width:260px;
padding:15px;
text-align:center;
display:flex;
flex-direction:column;
justify-content:space-between;
}

/* carousel */

.carousel{
position:relative;
width:100%;
height:160px;
overflow:hidden;
border-radius:6px;
margin-bottom:10px;
}

.carousel img{
width:100%;
height:160px;
object-fit:cover;
display:none;
}

.carousel img.ativo{
display:block;
}

.carousel button{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.5);
color:white;
border:none;
font-size:18px;
padding:6px 10px;
cursor:pointer;
border-radius:50%;
}

.prev{
left:5px;
}

.next{
right:5px;
}

.descricao{
font-size:14px;
margin-bottom:8px;
flex-grow:1;
}

.preco{
font-weight:bold;
margin-bottom:12px;
font-size:16px;
color:#8b2e3d;
}

.btn-whatsapp{
background-color:#25d366;
color:white;
text-decoration:none;
padding:10px 0;
border-radius:5px;
font-weight:bold;
display:block;
transition:background-color 0.3s ease;
}

.btn-whatsapp:hover{
background-color:#1ebe5a;
}

html {
  scroll-behavior:smooth;
}

/* mobile */

@media (max-width:600px){

.bolos-lista{
flex-direction:column;
align-items:center;
}

.bolo-card{
width:90%;
}

}


/*ajuste nas imagens*/
#boloMorango{
  object-position: center 25%;
}

#boloVaquinha{
  object-position: center 25%;
}

#boloTigrinho{
  object-position: center 25%;
}

#boloJoao{
  object-position: center 25%;
}

#boloMorango2{
  object-position: center 30%;
}

#boloMorango3{
  object-position: center 25%;
}

#boloMorango4{
  object-position: center 35%;
}

#boloFruta{
  object-position: center 40%;
}

#boloRoblox{
    object-position: center 40%;
}

#boloSaoPaulo{
    object-position: center 65%;
}

#boloMorango05{
    object-position: center 30%;
}

#boloChoco{
    object-position: center 60%;
}